.env
# Node.js related files and directories
node_modules/
package-lock.json
npm-debug.log*

# IDE or editor files
.vscode/
.idea/
*.sublime-workspace

# Compiled output
dist/
build/
out/
*.js.map

# Dependency directories
bower_components/
jspm_packages/

# Miscellaneous
.DS_Store
Thumbs.db
*.log